.outer {
  composes: outer from './common.scss';
}

.inner {
  composes: inner from './common.scss';
}

.title {
  composes: title from './common.scss';
}

.subtitle {
  composes: subtitle from './common.scss'; 
}

.content {
  composes: content from './common.scss';
}

.snippetDivider {
  composes: snippetDivider from './common.scss';
}