.common {
  composes: semibold from 'tachyons.css';
}

.mega {
  composes: common;
  composes: mega from 'tachyons.css';
  composes: ts1 from 'styles/text-shadow.css';
}

.normal {
  composes: common;
  composes: f1 bold mvl from 'tachyons.css';
}