.hero {
  composes: semibold from 'tachyons-font-weight/tachyons-font-weight.css';
  composes: mega from 'tachyons-type-scale/tachyons-type-scale.css';
  composes: ts1 from 'text-shadow.scss';
}

.normal {
  composes: bold from 'tachyons-font-weight/tachyons-font-weight.css';
  composes: f1 from 'tachyons-type-scale/tachyons-type-scale.css';
  composes: mvl from 'tachyons-spacing/tachyons-spacing.css';
}