.common {
  composes: br1 pvxs phs from 'tachyons.css';
  display: inline-block;
}

.light {
  composes: common;
  composes: bg-white-80 black-30 from 'tachyons.css';
}

.dark {
  composes: common;
  composes: bg-black-40 white-90 from 'tachyons.css';
}