.common {
  composes: f3 mvm pvl tl from 'tachyons.css';
  composes: card from 'styles/cards.css';
}

.text {
  composes: common;

  blockquote {}
  p {}
}

.code {
  composes: common;
  composes: code dark-blue from 'tachyons.css';
}
