$red: #f00;

.common {
  composes: br2 from 'tachyons.css';  
  border: 0;

  &:disabled {
    opacity: 0.8;
  }
}

.normal {
  composes: common;
  background: $red;
}

.inProgress {
  composes: common;
  composes: bs1 from 'styles/box-shadow.css';
}

.error {
  composes: common;
  composes: bg-red from 'tachyons.css';
}

.success {
  composes: common;
}